.margin-ti5 {margin-top: 5px !important;}
.margin-ti10 {margin-top: 10px !important;}
.margin-ti15 {margin-top: 15px !important;}
.margin-ti20 {margin-top: 20px !important;}
.margin-ti25 {margin-top: 25px !important;}
.margin-ti30 {margin-top: 30px !important;}

.text-end {text-align: end;}

.button-list button {margin-left: 5px;}